<div class="hero-image">
    <div class="hero-text">
      <h1 style="font-size:50px">ADIDAS HERO</h1>
      <p>WHERE THE FANS ARE</p>
      <button class="btn btn-hero-success btn-demo">Let's go ! </button>
    </div>
  </div>
  <hr>

  <div class="row">
    <div class="col-md-12">
    <div class="col-md-12 text-center">
      <nb-card>
        <nb-card-body>
          <h3>Live matches</h3>
          <hr>
          <blockquote class="blockquote-reverse">
            <p class="mb-0">Levski vs. Barcelona</p>
            <footer class="blockquote-footer">21:00 Sofia</footer>
          </blockquote>
          <blockquote class="blockquote-reverse">
            <p class="mb-0">Slavia vs. CSKA</p>
            <footer class="blockquote-footer">22:00 Sofia</footer>
          </blockquote>
          <blockquote class="blockquote-reverse">
            <p class="mb-0">Spartak vs. Neftohimik</p>
            <footer class="blockquote-footer">21:00 Sofia</footer>
          </blockquote>
          <blockquote class="blockquote-reverse">
            <p class="mb-0">Cherno more vs. Chernomoretz</p>
            <footer class="blockquote-footer">21:00 Sofia</footer>
          </blockquote>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-md-12 text-center">
      <nb-card>
        <nb-card-body>
          <h3>SELECTED MATCH</h3>
          <hr>
          <blockquote class="blockquote-reverse">
            <p class="mb-0">LIVERPOOL VS REAL MADRID</p>
          </blockquote>
          <button class="btn btn-hero-success btn-demo"> ON THE FIELD </button>
          <button class="btn btn-hero-success btn-demo"> WATCHING LIVE </button>
          <button class="btn btn-hero-success btn-demo"> WATCHING </button>
        </nb-card-body>
      </nb-card>
    </div>
    </div>
  </div>
