<div class="row">
  <nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'" class="full-width">
    <nb-tabset fullWidth>
      <nb-tab *ngIf="pointsGlobalRanklist" tabTitle="Points Ranklist (Global)">
        <div class="contact" *ngFor="let p of pointsGlobalRanklist">
          <nb-user [picture]="p.picture" [name]="p.name" [title]="p.club" size="large">
          </nb-user>
          <span class="time">{{ p.points }}</span>
        </div>
      </nb-tab>
      <nb-tab *ngIf="consecutiveRanklist" tabTitle="Matches Visited (Local)">
        <div class="contact" *ngFor="let p of pointsGlobalRanklist">
          <nb-user [picture]="p.picture" [name]="p.name" [title]="p.club" size="large">
          </nb-user>
          <span class="time">{{ p.points }}</span>
        </div>
      </nb-tab>
      <nb-tab *ngIf="consecutiveRanklist" tabTitle="Consecutive Matches Visited (Global)">
        <div class="contact" *ngFor="let c of consecutiveRanklist">
          <nb-user [picture]="c.picture" [name]="c.name" [title]="c.club" size="large" class="user-list"></nb-user>
          <span class="time">{{ c.consecutiveEvents }}</span>
        </div>
      </nb-tab>
      <nb-tab *ngIf="consecutiveRanklist" tabTitle="Consecutive Matches Visited (Local)">
        <div class="contact" *ngFor="let c of consecutiveRanklist">
          <nb-user [picture]="c.picture" [name]="c.name" [title]="c.club" size="large" class="user-list"></nb-user>
          <span class="time">{{ c.consecutiveEvents }}</span>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card>
</div>
